* {
  margin: 0;
}

.home {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}
@media (max-width: 900px) {
  .home {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 3rem;
  }
}
