* {
    margin: 0 auto;
}

.header {
    padding-top: .2rem;
    display: flex;
    background-color: #F2F2F2;
}

.logo {
    width: 5rem;
    height: 4rem;
    border-radius: 50%;
}

.right {
    display: flex;
    width: 20rem;
    height: 4rem;
}

.right li {
    padding-top: 1rem;
    list-style: none;
}

.link {
    text-decoration: none;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

.right li :hover {
    border-bottom: 1px solid rgb(194, 187, 187);
}