* {
  margin: 0 auto;
}

.header {
  padding-top: 0.2rem;
  height: 3.5rem;
  display: flex;
  background-color: rgb(252, 249, 249);
}

.logo {
  width: 5rem;
  height: 4rem;
  border-radius: 50%;
}

.right {
  display: flex;
  width: 20rem;
  height: 4rem;
}

.right li {
  padding-top: 1rem;
  list-style: none;
  color: rgb(71, 196, 244);
}

.link {
  text-decoration: none;
  font-weight: bolder;
  font-family: fantasy;
  font-size: medium;
}

.right li :hover {
  border-bottom: 1px solid rgb(194, 187, 187);
}
